body {
  background-color: seashell;
  font-family: "Lucida Grande", Helvetica, sans-serif;
  padding: 10px;
  margin: 20px;
}

h1 {
  color: blue;
  background-color: #b9def0;
  margin-top: 50px;
}

h3 {
  color: white;
  background-color: #2b669a;
  padding: 5px;
}

.list-group-item {
  height: 75px;
  text-align: left;
}